body{
  background-color: rgb(217, 190, 233);
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: ;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;

}


.listh1{
  font-weight: 400;
}